.navbar-wrapper
{
    z-index: 5;
    /*display: none;*/
}
.b-topbar .navbar-inner
{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    background: url("../../img/headerBg.png") repeat-x scroll 0 0 #0073BC;
}

.b-topbar .container a.brand
{
    padding-top: 4px;
    padding-bottom: 4px;
}

.b-topbar .secondary-nav .dropdown ul.dropdown-menu
{
    background-color: #009fe3;
}

.b-topbar .secondary-nav .dropdown ul.dropdown-menu li a
{
    color: #fff
}

.b-topbar .secondary-nav .dropdown ul.dropdown-menu li.divider
{
    background-color: #0073BC;
    border-color: #009fe3;
}

.b-topbar.navbar a
{
   color: #fff;
}

.b-topbar.navbar .nav li a {
    background: none;
    color: #FFFFFF;
}

.b-topbar__currentUser .label
{
    font-size: 1em;
}