@import url(blocks/b-app/b-app.css);
@import url(blocks/b-layout.css);
@import url(blocks/b-state.css);
@import url(blocks/b-login/b-login.css);
@import url(blocks/b-topbar/b-topbar.css);
@import url(blocks/b-profile/b-profile.css);
@import url(blocks/b-catalog/b-catalog.css);
@import url(blocks/b-catalog/b-catalog_short.css);
@import url(blocks/b-wizard-nav/b-wizard-nav.css);
@import url(blocks/b-splash/b-splash.css);
@import url(blocks/b-account/b-account.css);
@import url(../libs/bootstrap.css);


body, html {
    padding: 20px 0 0 0;
    margin: 0;
    /*height: 100%;*/
    min-width: 1000px;
    width: 100%;
    background:  #cecece;
}

