.b-login__note__i legend
{
   zoom: 1;
   padding: 0;
   margin: 0;
    width: 400px;
    font-size: 16px;
}

.b-login  .form-stacked .b-login__actions
{
    margin-bottom: -20px;
    zoom: 1;
}

.b-login .input input
{
    padding-top: 20px;
}

.partners-row,
.b-topbar h3 a,
.b-topbar h3,
{
    zoom: 1;
}

.b-topbar h3
{
    float: left;
}

.b-profile fieldset
{
    border: 0
}