.b-notify .alert-message.edit_profile
{
    padding: 40px 20px;
}

.b-notify .alert-message.edit_profile .alert-actions
{
    padding-top: 5px;
}

.b-notify .alert-message.edit_profile p
{
    font-size: 1.2em;
    line-height: 1.4em;
}
