.b-login
{
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    width: 320px;
    margin: 10em auto;
    padding-top: 2em;
}

.b-login__option-action
{
    color: #888;
    margin-left: 5px;
}

.b-login__option-action a
{
    margin-left: 3px;
}

.b-login__header
{
    padding: 0 20px;
}
.b-login__header img
{
    /*margin: 0 auto;*/
    display: block;
}

.b-login__header p
{
    color: #404040;
    padding: 20px 0 0 0;
}