.b-splash
{
    margin:  40px

}

.b-splash .start,
.b-splash .finish
{
    position: relative;
    padding-left: 420px;
    min-height: 400px
}

.b-splash .pic
{
    top: 0;
    left: 0;
    position: absolute;
}

.b-splash .orderNum
{
    font-weight:bold;
    font-size:14px;
}


.b-splash .start_splash
{
    position: static;
}

.b-splash .start_splash .pic
{
    top: 40px;
    left: 50%;
    margin-left: -500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0  6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.b-splash .start_splash .promo-button
{
position: absolute;
top: 100px;
left: 1050px;
z-index: 100;
}
