.b-catalog {
    padding: 0 20px 20px 20px;
}

.b-catalog__i {
    z-index: 2;
    position: relative;
}

.b-catalog__promo
{
    padding-left: 140px;
    padding-top: 20px;
    min-height: 180px;

}

.b-catalog__promo p
{
    /*font-size: 1.2em;*/
    line-height: 1.4em;
}

.b-catalog__promo .team
{
    text-align: right;
    padding: 20px 20px 20px 0;
}

.b-catalog__promo .bg {
    background: url('../../img/cards/promo-partnercards.png');
    height: 192px;
    left: -65px;
    position: absolute;
    top: 60px;
    width: 190px;

}

#partners-list {
    padding: 30px 0 25px;
}

.partners-row {
    border-top: 1px solid #F1F2F0;
    padding: 20px 0;
    position: relative;
    cursor: pointer;
}

.partners-row.hover {
    background: rgba(0, 115, 188, 0.02)
}

#partners-list .partners-row .popup-window {
    left: 20px;
    top: 20px;
}

.partners-row-first {
    border-top: 0 none;
}

.ie7 .partners-row {
}

.ie6 .partners-row {
}

.partners-row:after {
    clear: both;
    content: "";
    display: block;
}

.partner-pic {
    float: left;
    text-align: center;
    width: 25%;
}

.partner-pic img {
    margin-top: 5px;

}

.partner-text {
    float: left;
    width: 70%;
}

.partner-text p {

    margin: 0;
    padding: 5px 0;
}

.partner-text p a {
    color: #213589;
}

.partner-text .sm {
    margin: -1em 5px;
    position: relative;
}

.partner-form {
	float: left;
	padding: 16px 0;
    width: 75%;
}

.partner-form .card-form {
    margin-top: 5px;
    text-align: left;
    padding-right: 20px;
}

@font-face {
    font-family: "ALSRublRegular";
    font-style: normal;
    font-weight: normal;
    src: local("?y¦"), url("rouble-webfont.woff") format("woff"), url("rouble-webfont.ttf") format("truetype");
}

.rub {
    font-family: 'ALSRublRegular';
    font-style: normal;
}

.b-catalog .kind
{
    width: 120px;
    margin: 0 auto 0 auto;
}

.b-catalog .kind_digital
{
    width: 170px;
}

.b-catalog .params
{
    display: none;
}

.partner-form .card-form .btn
{
	width: 44px;
    margin-bottom: 7px;
    margin-right: 5px;
}




