.b-account
{
    float: left;
    margin-left: 1em;
    color: #fff;
    font-size: 16px;
    margin-top: 11px;
}

.account__backet
{
    display: none;
    margin-left: 2em;
}

.b-account_isOrder .account__backet
{
    display: inline;
}
