.b-account
{
    float: left;
    margin-left: 1em;
    color: #fff;
    font-size: 14px;
    margin-top: 11px;
}

.account__backet
{
    display: none;
    margin-left: 2em;
}

.b-account_isOrder .account__backet
{
    display: inline;
}

.navbar .b-account  .account__backet .btn
{
    margin: -7px 0 0 5px;
    position: relative;
    top: 3px;
}