.b-profile
{
    background-color: #fff;
    padding-top: 20px;
    /*padding-left: 20px;*/
}

.b-profile .lcol
{
    padding-left: 20px;
}

.b-profile .rcol
{
    margin-top: -10px;
}

.b-profile form
{
    padding: 0;
    margin: 0;
    border: 0;
}

.b-profile fieldset
{
    padding-top: 8px;
    margin-bottom: 0;
    border-bottom: 1px solid #f5f5f5;
}


.b-profile .rcol fieldset
{
    padding-top: 18px;
}

.b-profile fieldset:last-of-type
{
    border-bottom: 0;
}

.b-profile__field label
{
    color: #888;
}

.b-profile__field
{
    min-height: 28px;
    position: relative;
}

.b-profile__field .value
{
    position: absolute;
    left: 156px;
    top: 6px;
    z-index: 3;
    font-size: 18px;
    
}

.b-profile_show .b-profile__field .input,
.b-profile_show .b-profile__save,
.b-profile__field .value,
.b-profile__edit
{
    display: none;
}

.b-profile_show .b-profile__field .value
{
    display: block;
}

.b-profile_show .b-profile__edit
{
    display: block;
}

.b-profile__actions,
.b-profile__actions__balance
{
    overflow: hidden;
    width: 100%;

}

.b-profile__actions__balance
{
    padding: 20px 0;
}

.b-profile__actions__balance .b-balance
{
    float: none;
    margin-right: 20px;
}


.b-profile__actions__i,
.b-profile__error
{
    padding-left: 20px;
}

.b-profile__actions .b-profile__save
{
    margin-top: 0;
}

.b-profile__error  .alert
{
    margin-bottom: 0;
    padding-left: 157px;
    display: none;
    
}
.b-profile .b-profile__actions .form-actions
{
    padding-left: 135px;
    margin-bottom: 0;
}

.b-profile .clearfix.error .inputs-list label
{
    color: #B94A48;
}

.b-profile .header
{
    padding: 20px 0 20px 20px;
}


